	#container {
		margin:0 auto;
	}

	#header {
		background-image: url(Images/paper.png);
		width: 97.6%;
		height: auto;
		border-radius: 4px;
		margin: auto;
		padding: 10px;
	}

	.column {
		float: left;
		width: 50%;
		height: 100%;
	}

	.row {
		background-image: url(Images/paper.png);
		border-radius: 4px;
		height: auto;
		width: 100%
		margin-top: 1%;
		margin: 2% 2% 2% 2%;
		padding: 1% 1% 1% 1%;
	}

	body {
		background-image: url("Images/wood.jpg");
		background-size: cover;
		background-color:black;
		font-family: 'Ubuntu', serif;
		font-weight: bold;
		color: black;
	}

	h1 {
		font-family: 'Rye', cursive;
		text-align: center;
	}

	h2 {
		text-align: center;
		font-family: 'Rye', cursive;
	}

	h3 {
		text-align: center;
		font-family: 'Rye', cursive;
	}

	h4 {
		text-align: left;
		font-family: 'Rye', cursive;
		font-size: 16px;
	}

	img {
		width: 100%;
		height: auto;
		padding-top: 2%;
		padding-bottom: 2%;
	}
