@import url("colors.css");

.ImageDial {
  display: inline-block;
}

.CircularProgressbar {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
  .CircularProgressbar .CircularProgressbar-path {
    stroke: var(--Base3);
    stroke-linecap: round;
    transition: stroke-dashoffset 2s ease 0s;
  }
  
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: var(--Base03);
  }
  
  /* Text not used (images used instead)
  .CircularProgressbar .CircularProgressbar-text {
    fill: var(--Base2);
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  */
  
  .CircularProgressbar .CircularProgressbar-background {
    fill: var(--Base03);
  }
  
  /* Unused Styles

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }
  */